* {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
  
  font-family: 'Roboto', sans-serif;

  color: var(--primary-font-color);
}


:root {
  --primary-color: #D1107A;
  --third-color: #2694E3;

  --primary-background: #0D0E12;
  --second-background: #16171C;


  --shadow-black-color: rgba(0, 0, 0, 0.38);

}

body, html, #root {
  width: 100%;
  height: 100%;
  position: relative;

  background: #f3f3f3;
}



/* Dialog.css */

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  text-align: left;
  max-height: 400px; /* Set the desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the fixed height */
  pointer-events: auto;

}

.dialog-list {
  list-style: none;
  padding: 0;
}

.dialog-list li {
  margin-bottom: 8px;
}

.close-button {
  background: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.close-button:hover {
  background: #0056b3;
}

/* Media Query for Smaller Screens */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
    max-width: 100%;
  }
}


/* Styles for the GraphView component */

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.tag-filters,
.department-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Wrap the tags to the next line */
}

.tag-filters label,
.department-filter label {
  margin-right: 10px;
  margin-bottom: 5px; /* Add some bottom margin to the labels */
}

.tag-filters input {
  margin-right: 5px;
}

/* Optional: Adjust the appearance of checkboxes */
.tag-filters input[type="checkbox"] {
  appearance: none;
  padding: 4px;
  margin-right: 3px; /* Adjust the spacing between checkboxes */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.tag-filters input[type="checkbox"]:checked {
  background-color: #007bff;
  color: #fff;
}

/* Optional: Add some styles to make buttons more visually appealing */
button {
  padding: 6px 10px;
  margin-left: 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Add tooltip styles */
span.main-tag {
  /* Add visual indication that the MainTag is clickable */
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

span.main-tag:hover::after {
  content: "Po kliknutí se zobrazí související předměty podle obsahu.";
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px; /* Increase padding for better visibility */
  border-radius: 8px; /* Round the corners for a bubble effect */
  top: calc(100% + 5px); /* Position 5px below the MainTag */
  left: 50%; /* Center the tooltip relative to the MainTag */
  z-index: 1;
  font-size: 14px;
  white-space: nowrap; /* Prevent line breaks */
  width: max-content; /* Make the tooltip size based on content */

  /* Check if the tooltip exceeds the left or right edge of the dialog */
  left: max(10px, min(50%, left - 50%)); /* Adjust as needed */
  right: auto;
}

/* GridView.css */

.grid-container {
  margin: 20px;
}

.grid-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.grid-table th, .grid-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.grid-table th {
  background-color: #f2f2f2;
}

.grid-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.grid-table tr:hover {
  background-color: #e5e5e5;
}

.grid-table a {
  color: #007bff;
  text-decoration: none;
}

.grid-table a:hover {
  text-decoration: underline;
}

/* Add these styles to GridView.css */

.grid-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.grid-tile {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.grid-tile:hover {
  background-color: #e5e5e5;
}

.grid-tile h3 {
  margin-bottom: 10px;
}

.grid-tile a {
  color: #007bff;
  text-decoration: none;
}

.grid-tile a:hover {
  text-decoration: underline;
}

.custom-popup {
  position: absolute;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  pointer-events: none;
  display: none;
}

/* graph and legend*/
.graph-container {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.graph-and-legend-container {
  display: grid;
  grid-template-columns: 8fr 1fr; /* Ratio*/
  gap: 10px; /* Adjust as needed */
}

.graph-wrapper {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  position: relative;
  border: 1px solid #ddd;
}

.legend-wrapper {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}

/* Add your other styles as needed */

/*dialog table*/

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling if the table overflows its container */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table a {
  color: #007bff;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}


/* FilterComponent.css */

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.tag-filters,
.department-filter,
.specialization-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tag-filters label,
.department-filter label,
.specialization-filter label {
  margin-right: 10px;
  margin-bottom: 5px;
}

.tag-filters input[type="checkbox"] {
  appearance: none;
  padding: 4px;
  margin-right: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.tag-filters input[type="checkbox"]:checked {
  background-color: #007bff;
  color: #fff;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.search-filter input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-filter input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

/* Optional: Tooltip Styles */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.vis-navigation {
  position: absolute;
  top: 100px;
  left: 50px;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.vis-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.vis-up {
  top: -50px;
  left: 0;
}

.vis-down {
  top: 50px;
  left: 0;
}

.vis-left {
  top: 0;
  left: -50px;
}

.vis-right {
  top: 0;
  left: 50px;
}

.vis-zoomIn {
  top: 100px;
}

.vis-zoomOut {
  top: 150px;
}

.vis-zoomExtends {
  top: 200px;
}

.vis-button:after {
  font-size: 1.2em;
  color: gray;
}

.vis-button:hover:after {
  color: darkgray;
}

.vis-button.vis-up:after {
  content: "▲";
}

.vis-button.vis-down:after {
  content: "▼";
}

.vis-button.vis-left:after {
  content: "◀";
}

.vis-button.vis-right:after {
  content: "▶";
}

.vis-button.vis-zoomIn:after {
  content: "+";
}

.vis-button.vis-zoomOut:after {
  content: "−";
}

.vis-button.vis-zoomExtends:after {
  content: "⤧";
}
